@font-face{
font-family: 'default';
src: url('./fonts/Darling.ttf');
}


@font-face{
font-family: 'button';
src: url('./fonts/Butter.otf');
}


@font-face{
font-family: 'price';
src: url('./fonts/Voice\ In\ My\ Head.otf');
}

:root{
--yellow: #f3b87b;
--darkYellow: #9A744C;
--brown: #352921;
--pink: #FF74C4;
--white: white;
--black:black;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: var(--yellow);
font-family: 'default';
color: var(--black);
}

h1,h2,p,figCaption, span, button{
text-align: center;

}

h2{
font-size: calc(1.5rem + 4px);
}


p{
font-size: calc(1rem + 4px);
max-width: 98vw;
}


/*figcaption from home section*/
section:nth-of-type(2) figcaption{
font-size: 3.9vw ;
/*font-size: min(7.5vw,calc(3rem + 4px)) ;*/
}

/*figcaption from menu section*/
section:nth-of-type(3) figcaption{
font-size: calc(1.5rem + 4px) ;
}


figure h3{
font-size: calc(1.6rem + 4px);
font-family: 'price';
}




/*header section*/
header{
border-bottom: 2px solid white;
background-color: var(--brown);
display: flex;
justify-content: center;
align-items: center;
color: var(--pink);
}

header h1{
display: flex;
gap: 10px;
justify-content: center;
align-items: center;
}

@media(max-width:460px){
header h1{
flex-direction: column;
gap: 2px;
}
}

a:link{
color: #DC8389;
}
a:visited{
color: #CB88EF;
}












main, section, section:nth-of-type(3) div{
display: flex;
justify-content: center;
align-items: center;
}


section:nth-of-type(2) figure{
position: relative;
width: 90vw;
height: 40vw;
}


section:nth-of-type(2) img{
width: 100%;
height: 100%;
border-radius: 20px;

}


section:nth-of-type(2) figcaption{
position: absolute;
padding: 2px;
border-radius: 10px;
opacity: 0.65;
top: 2vw;
left: 50vw;
transform: translateX(-56%);
color: white;
background-color: var(--black);
font-family: 'button';
}



section:not(section:first-of-type){
display: none;
}

section:first-of-type{
gap: 5px;
margin-top: 10px;
}

section:nth-of-type(3)  div{
flex-direction: column;
text-align: center;
border: 2px solid var(--black);
padding: 10px;
border-radius: 5px;
background-color: #FFC85C;
}


section:last-of-type img{
width: 20vw;
height: 20vw;

}


button{
background-color: var(--brown);
border: 2px solid var(--white);
color: var(--white);
padding: 15px;
border-radius: 30px;
font-family: 'button';
font-size: calc(1rem + 5px);
}


main, section:nth-of-type(2),section:nth-of-type(4){
flex-direction: column;
gap: 10px;
}

ul{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
gap: 30px;
}

li{
list-style: none;
background-color: var(--darkYellow);
width: 98%;
height: 98%;
align-self: center;
justify-self: center;
padding: 2px;
border-radius: 10px;
}

figure,li{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}



img{
width: 80%;
height: 80%;
}
